.search-box {
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.transparent {
    -fx-background-color: rgba(0,0,0,0);
}

.search-button {
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}

.left-bar {
    -fx-background-color: #D3D3D3;
}

.shadow {
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0)
}

.chosen-product-card {
    -fx-background-color: #F16C31;
    -fx-background-radius: 30;
}

.comprar-button {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.comentarios-card {
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 30;
}

.resenas-card {
    -fx-background-color: #BAEAC3;
    -fx-background-radius: 30;
}

.product-item {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}

.product-item-border {
    -fx-border-color: #F16C31; /* Cambia el color del borde */
    -fx-border-width: 2;   /* Cambia el grosor del borde */
    -fx-padding: 5;        /* Espacio entre el borde y el contenido */
    -fx-border-radius: 30;
}

.input {
    -fx-border-width: 0 0 1 0;
}

/* Estilo para botones con color #FF7043 */
.button {
    -fx-background-color: #FF7043; /* Color de fondo del botón */
    -fx-text-fill: white; /* Color del texto en el botón */
    -fx-border-radius: 15px; /* Bordes redondeados */
    -fx-border-width: 2px; /* Grosor del borde */
    -fx-border-color: #FF7043; /* Borde en el mismo tono */
    -fx-border-style: solid; /* Borde sólido */
    -fx-padding: 10px 20px; /* Espaciado interno (más grande para un botón más estilizado) */
    -fx-font-size: 14px; /* Tamaño de la fuente */
    -fx-font-weight: bold; /* Texto en negrita */
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.5, 0, 2); /* Sombra interna suave */
    -fx-background-radius: 15px; /* Fondo redondeado */
}

/* Estilo para el botón cuando está presionado */
.button:pressed {
    -fx-background-color: #D85F2B; /* Un tono más oscuro cuando el botón se presiona */
    -fx-border-color: #D85F2B; /* El borde también cambia a un tono más oscuro */
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.5, 0, 2); /* Sombra interna más pronunciada */
}

/* Estilo para el botón cuando está enfocado (con el mouse) */
.button:hover {
    -fx-background-color: #FF8A65; /* Color ligeramente más claro al pasar el mouse */
    -fx-border-color: #FF8A65; /* Borde más claro */
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0.5, 0, 0); /* Efecto suave */
}
